/* general */
* {
  margin: 0;
  padding: 0;
}
.text, p, h2, h1, h4, h5 {
  font-family: Helvetica; 
  font-size: 16px;
  color: seashell;
}
h1 {
  font-size: 25px !important;
}
h2 {
  font-size: 21px !important;
}
body {
  background-color: black;
  opacity: 0.9;
}
a:hover {
  color: lightgrey;
}
a:active {
  color: seashell;
}

/* header */
header {
  display: flex;
  position: relative;
  height: 69px;
  min-width: 550px;
  width: 100%;
  border-bottom: 0.5px solid seashell;
}
.brand {
  display: flex;
  align-items: center;
}
.brand img {
  height: 50px;
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  height: 100%;
  font-size: 20px;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
}
nav li a::after {
  content: " |";
  color: grey;
}
nav li:last-child a::after {
  content: "";
}
/* centering page elements */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.teaOfTheMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* title */
#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 700px;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1k4nfwx*_gcl_au*ODE5NzYxNjYwLjE3MzIzNzQxNzE.*_ga*ODkxNjY4MjkyMy4xNzMyMzc0MTcy*_ga_3LRZM6TM9L*MTczNzExNzg1NS42NS4wLjE3MzcxMTc4NTUuMC4wLjA.");
}
.forGround {
  background-color: black;
}

/* picture section */
.teaOfTheMonth {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 640px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.pictureBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 26px;
}
.pictureBox img {
  height: 200px;
  width: 300px;
}


/* locations */
.locations {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*12digje*_gcl_au*ODE5NzYxNjYwLjE3MzIzNzQxNzE.*_ga*ODkxNjY4MjkyMy4xNzMyMzc0MTcy*_ga_3LRZM6TM9L*MTczNzEyNjk4My42Ni4xLjE3MzcxMjY5ODguMC4wLjA.");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
}
.infoBox {
  text-align: center;
  line-height: 3.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.title {
  text-align: center; 
  line-height: 2.0;
}
.info-box {
  background-color: black;
  width: 270px;
  height: 270px;
}

/* the tea cozy */
.theTeaCozy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin: 20px 0;
}
.cozyText {
  line-height: 3;
}

/* footer */
.copyright {
  text-align: left;
  margin-left: 45px;
}
